body {
  font-family: Arial, sans-serif;
  background-color: #f5f5fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  width: 370px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

h2 {
  margin-bottom: 10px;
  font-size: 22px;
}
h2 span {
  font-size: 24px;
}
p {
  font-size: 12px;
  margin-bottom: 20px;
  color: #565656;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
label {
  color: #565656;
  font-size: 14px;
  margin-bottom: 5px;
}
input {
  padding: 10px;
  border: 1px solid #c5dbf2;
  border-radius: 8px;
  background: #edf0f7;
}
input.error {
  border: 2px solid red;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.checkbox {
  color: #565656;
  font-size: 14px;
  margin: 10px 0;
}
.checkbox a {
  color: #565656;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #2563eb, #4e68b1);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to right, #1d4ed8, #3f4a63);
}

.error {
  font-size: 12px;
  color: red;
  margin-top: 3px;
}

#termsBox {
  display: none;
  position: absolute;
  z-index: 5;
  background: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.letter {
  font-size: 12px;
}
