  body {
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
          Roboto, "Helvetica Neue", Arial,sans-serif;
        background-color: #e9eef3;

        gap: 2px;
      }

      .container {
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
      }

      .card {
        background-color: rgb(255, 255, 255);
        border-radius: 12px; 
        padding: 20px;
        width: 32%;
        
        align-items: center;
        /* height: 50vh; */
        max-width: 30vw;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
        position: relative; 
        backdrop-filter: blur(10px);
        
      }

      .card h2 {
        margin: 0 0 10px;
        font-size: 20px;
      }

      .card p {
        margin: 0 0 15px;
        color: #555;
        font-size: 16px;
      }

      ul {
        margin: 0 0 40px; 
        padding-left: 20px; 
        color: #333;
      }

      li {
        margin-bottom: 8px;
      }

    
      .btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: white;
        border:none;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
         box-shadow: 0px 0.5px 1px grey; 
        margin:0px 18px 18px 0px;
        
      }
      .list{
        margin-left: 40px;
        margin-right: 10px;
        line-height: 20px;
      }